{% extends "layout.html" %}

{% block body %}
    <div class="jumbotron text-center">
        <h1>Custom Encoding Generator</h1>
        <p class="lead">
            Ever wanted to encode some text, or even better, an image (coming soon) in your own custom encoding? Well, you're in luck!
        </p>
        <a href="https://github.com/a0id/encoding">View the Code!</a>
    </div>

    <div class="jumbotron text-center">
        <h2>How it works</h2>
        <p class="lead">
            <h3>Encoding</h3>
            When you put in some input text, an algorithm converts that input text to 1s and 0s.
            <br>
            The 'Binary-0' field in the encoder represents what a 0 in binary will be in your custom encoding.
            <br>
            The 'Binary-1' field in the encoder represents what a 1 in binary will be in your custom encoding.

            <br><br>
            <b>NOTE: DO NOT PUT SPACES IN THE VALUES FOR BINARY-0 OR BINARY-1!!!</b>
            <br>
            
            <br>
            <h3>Decoding</h3>
            Decoding works the same way, but in reverse. Make sure to input the correct binary-0 and binary-1 values used to encode the text.
        </p>
    </div>
{% endblock %}
